USE [Others]
GO
/****** Object:  Table [dbo].[exp_new_v]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exp_new_v](
	[location] [nvarchar](255) NULL,
	[CUSH] [nvarchar](255) NULL,
	[SBNO] [nvarchar](255) NULL,
	[SBDT] [date] NULL,
	[IEC] [nvarchar](255) NULL,
	[EXPORTER] [nvarchar](255) NULL,
	[Exporter_Address] [nvarchar](255) NULL,
	[Exporter_City_State] [nvarchar](255) NULL,
	[Exporter_PIN] [nvarchar](255) NULL,
	[PORT_CD] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[INVOICE_NO] [nvarchar](255) NULL,
	[RITC] [nvarchar](255) NULL,
	[ITEM] [nvarchar](255) NULL,
	[QUANTITY] [float] NULL,
	[UQC] [nvarchar](255) NULL,
	[ITEM_RATE] [float] NULL,
	[Currency] [nvarchar](255) NULL,
	[FOB] [float] NULL,
	[CHA_Name] [nvarchar](255) NULL,
	[CONSIGNEE_NAME_ADRRESS] [nvarchar](1000) NULL,
	[LEO_Date] [date] NULL,
	[Invoice_Sr_NO] [nvarchar](255) NULL,
	[Item_No] [nvarchar](255) NULL,
	[Drawback] [float] NULL
) ON [PRIMARY]
GO
