USE [Others]
GO
/****** Object:  Table [dbo].[EXP_OTHERS_SEZ_FULL]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXP_OTHERS_SEZ_FULL](
	[CUSTOM] [nvarchar](255) NULL,
	[Shipping Bill] [nvarchar](255) NULL,
	[Shipping Bill Date] [datetime] NULL,
	[LEO Date] [datetime] NULL,
	[Item Code] [nvarchar](255) NULL,
	[Item Description] [nvarchar](255) NULL,
	[Item No] [nvarchar](255) NULL,
	[IEC] [nvarchar](255) NULL,
	[Exporter Name] [nvarchar](255) NULL,
	[Buyer Name] [nvarchar](255) NULL,
	[Buyer Address] [nvarchar](255) NULL,
	[Buyer Country] [nvarchar](255) NULL,
	[Country of Destination] [nvarchar](255) NULL,
	[Port of Discharge] [nvarchar](255) NULL,
	[Port Code] [nvarchar](255) NULL,
	[Invoice SerNo] [nvarchar](255) NULL,
	[Invoice No] [nvarchar](255) NULL,
	[Quantity] [float] NULL,
	[Unit] [nvarchar](255) NULL,
	[Item rate] [float] NULL,
	[Currency] [nvarchar](255) NULL,
	[FOB] [float] NULL,
	[Drawback] [float] NULL,
	[State Name] [nvarchar](255) NULL,
	[Number of Units] [nvarchar](255) NULL,
	[FOB Foreign Currency] [float] NULL,
	[IGST Taxable Amount] [float] NULL,
	[IGST Amount Paid] [float] NULL,
	[Customs Broker Name] [nvarchar](255) NULL
) ON [PRIMARY]
GO
