USE [Others]
GO
/****** Object:  StoredProcedure [dbo].[Others_IMP_Vishal]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Others_IMP_Vishal]
@mon as int
AS
BEGIN

truncate table [new_imp_v]
INSERT INTO [dbo].[new_imp_v]
           ([CUSH]
           ,[BE_NO]
           ,[BE_Date]
           ,[BE_Type]
           ,[IEC]
           ,[Importer_Name]
           ,[Importer_Address]
           ,[importer_City_State]
           ,[importer_pin]
           ,[Country_of_Origin]
           ,[Item_Description]
           ,[INVOICE_CURRENCY]
           ,[Invoice_Unit_Price_FC]
           ,[CTH_HSCODE]
           ,[Quantity]
           ,[UQC]
           ,[Unit_Price]
           ,[TOTAL_ASS_VALUE]
           ,[Total_Duty_Paid]
           ,[CHA_Name]
           ,[Shipment_Port_Code]
           ,[Shipment_Port_Name]
           ,[Supplier_Name_Address]
           ,[InvNo]
           ,[ItemNo]
		   ,[location])
     select [CUSH]
           ,[BE_NO]
           ,[BE_Date]
           ,[BE_Type]
           ,[IEC]
           ,[Importer_Name]
           ,[Importer_Address]
           ,[importer_City_State]
           ,[importer_pin]
           ,[Country_of_Origin]
           ,[Item_Description]
           ,[INVOICE_CURRENCY]
           ,[Invoice_Unit_Price_FC]
           ,[CTH_HSCODE]
           ,[Quantity]
           ,[UQC]
           ,[Unit_Price]
           ,[TOTAL_ASS_VALUE]
           ,[Total_Duty_Paid]
           ,[CHA_Name]
           ,[Shipment_Port_Code]
           ,[Shipment_Port_Name]
           ,isnull(Supplier_Name,'')+isnull(Supplier_Address,'')+isnull(Supplier_Country,'')
           ,[InvNo]
           ,[ItemNo]
		   ,[location] from [new_imp] where year([BE_Date])*100+Month([BE_Date])=@mon

select [BE_NO]
           ,year([BE_Date])*100+Month([BE_Date])'Monthserial' into #BEN from [new_imp_v] where year([BE_Date])*100+Month([BE_Date])= @mon

alter table #BEN add Tag nvarchar(10)

update #BEN set tag='Y' from #BEN a,[BE] b
where a.BE_NO=b.BE_NO and a.Monthserial=b.monthserial

INSERT INTO [dbo].[BE]
           ([BE_NO]
           ,[monthserial])
     select [BE_NO]
           ,[monthserial] from #BEN where tag is null

update [BE] set BENO_new=left(NEWID(),8) where BENO_new is null

update [new_imp_v] set BE_NO=b.BENO_new from [new_imp_v] a,BE b
where a.BE_NO=b.BE_NO

select * from [new_imp_v] a where exists(select * from BE b where a.BE_NO=b.BE_NO) or len(BE_NO)<>8


END

GO
