USE [Others]
GO
/****** Object:  StoredProcedure [dbo].[Others_EXP_SEZ]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Others_EXP_SEZ]
@mon as int
AS
BEGIN

truncate table [EXP_OTHERS_SEZ]
INSERT INTO [dbo].[EXP_OTHERS_SEZ]
           ([CUSTOM]
           ,[Shipping Bill]
           ,[Shipping Bill Date]
           ,[LEO Date]
           ,[Item Code]
           ,[Item Description]
           ,[Item No]
           ,[IEC]
           ,[Exporter Name]
           ,[Buyer Name]
           ,[Buyer Address]
           ,[Buyer Country]
           ,[Country of Destination]
           ,[Port of Discharge]
           ,[Invoice SerNo]
           ,[Invoice No]
           ,[Quantity]
           ,[Unit]
           ,[Item rate]
           ,[Currency]
           ,[FOB]
           ,[Customs Broker Name])
     Select [PORTID]
           ,SB_NO_ORG
           ,SB_Date
           ,LEO_Date
           ,Hs_Code
           ,Product
           ,Item_no
           ,[IEC]
           ,[Indian Exporter Name]
           ,[Foreign Importer Name]
           ,FOR_Add1
           ,[Importer Country]
           ,[Ctry of Destination]
           ,[Port of Destination]
           ,[Invoice Srl No]
           ,Invoice_no
           ,QTY
           ,[Unit]
           ,[Unit Rate in Foreign Currency - FC not specified, Very Imp : Som]
           ,[Unit Rate Currency]
           ,[Total SB Value in INR in Lacs]
           ,CHA_NAME from RAW_PROCESS..EXPORT_Monthly where Monthserial=@mon and PORTID in(select code from RAW_PROCESS..PORTMST where [update]='SEZ' )
		   group by
		   [PORTID]
           ,SB_NO_ORG
           ,SB_Date
           ,LEO_Date
           ,Hs_Code
           ,Product
           ,Item_no
           ,[IEC]
           ,[Indian Exporter Name]
           ,[Foreign Importer Name]
           ,FOR_Add1
           ,[Importer Country]
           ,[Ctry of Destination]
           ,[Port of Destination]
           ,[Invoice Srl No]
           ,Invoice_no
           ,QTY
           ,[Unit]
           ,[Unit Rate in Foreign Currency - FC not specified, Very Imp : Som]
           ,[Unit Rate Currency]
           ,[Total SB Value in INR in Lacs]
           ,CHA_NAME

delete from [EXP_OTHERS_SEZ]
where ([Item Description] like '%Indian%Navy%' 
or [Item Description] like '%army%' 
or [Item Description] like '%Air_Force%' 
or [Item Description] like '%defence%'
or [Item Description] like '%defense%'
or [Item Description] like '%warship%'
or [Item Description] like '%sub_marin%'
or [Item Description] like '%missile%'
or [Item Code] like '93%'
or IEC in('AMDCG0111E','AMDCG0111E','3116910324','0308050029','0599020768','3116927430','AVDPG4598H'))

END
GO
