USE [Others]
GO
/****** Object:  Table [dbo].[IMport_Monthly]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMport_Monthly](
	[HS_CODE] [nvarchar](12) NULL,
	[IEC] [nvarchar](20) NULL,
	[IMPORTER] [nvarchar](255) NULL,
	[ADDRESS1] [nvarchar](500) NULL,
	[ADDRESS2] [nvarchar](500) NULL,
	[CITY] [nvarchar](100) NULL,
	[PIN] [nvarchar](50) NULL,
	[PROD_DESC] [varchar](600) NULL,
	[IND_PORT] [nvarchar](100) NULL,
	[FOR_COUNT] [nvarchar](100) NULL,
	[FOR_PORT] [nvarchar](100) NULL,
	[VALUE] [float] NULL,
	[VALUE(US$)] [float] NULL,
	[QTY] [float] NULL,
	[UNIT] [nvarchar](10) NULL,
	[VAL_DUTY_INR] [float] NULL,
	[VAL_DUTY_USD] [float] NULL,
	[Applicable DUTY] [float] NULL,
	[UNIT RATE(IND RS)] [float] NULL,
	[SHIP_MODE] [nvarchar](50) NULL,
	[UNIT RATE(USD)] [float] NULL,
	[BENO_ORG] [nvarchar](50) NULL,
	[CHA_NO] [nvarchar](100) NULL,
	[CHA_NAME] [nvarchar](200) NULL,
	[Actual DUTY] [float] NULL,
	[Total Duty On Entire BE] [float] NULL,
	[Typ] [nvarchar](50) NULL,
	[AG] [nvarchar](50) NULL,
	[Inv No] [nvarchar](50) NULL,
	[Item No] [nvarchar](50) NULL,
	[UnitPrice FC] [float] NULL,
	[Currency] [nvarchar](50) NULL,
	[Foreign Exporter] [varchar](255) NULL,
	[Foreign Address] [varchar](600) NULL,
	[Tag] [nvarchar](50) NULL,
	[TagTypAG] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[UnitPrice FCu] [float] NULL,
	[CUSH] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Monthserial] [int] NULL,
	[HS2] [nvarchar](2) NULL,
	[HS4] [nvarchar](4) NULL,
	[Inv_Date] [varchar](50) NULL,
	[Inv_Srl_No] [nvarchar](100) NULL,
	[Inv_Value] [float] NULL,
	[ForCntry_Code] [nvarchar](50) NULL,
	[FORPORT_Code] [nvarchar](50) NULL,
	[ShipmentPortCode] [nvarchar](50) NULL,
	[ShipmentPort] [nvarchar](255) NULL,
	[BCD Notn] [nvarchar](255) NULL,
	[BCD Rate] [float] NULL,
	[BCD Amt] [float] NULL,
	[CVD Notn] [nvarchar](255) NULL,
	[CVD Rate] [float] NULL,
	[CVD Amt] [float] NULL,
	[IGST Amt] [float] NULL,
	[GST Cess Amt] [float] NULL,
	[GRWT_ORG] [float] NULL,
	[GWT_UNIT] [nvarchar](50) NULL,
	[FR_VAL_INR] [float] NULL,
	[INS_VAL_INR] [float] NULL,
	[TOI] [nvarchar](50) NULL,
	[IDTR_INV_VAL] [float] NULL,
	[IDTR_CURR_INV] [nvarchar](50) NULL,
	[IDTR_UPR] [float] NULL,
	[IDTR_EX] [float] NULL,
	[USD_RATE] [float] NULL,
	[std_qty] [float] NULL,
	[std_unit] [varchar](5) NULL,
	[std_unit_rate_inr] [float] NULL,
	[std_unit_rate_usd] [float] NULL,
	[Country] [nvarchar](100) NULL,
	[supplier_Country] [nvarchar](255) NULL,
	[Item_Brand] [nvarchar](255) NULL,
	[CIF_Value] [float] NULL,
	[COO] [nvarchar](255) NULL,
	[BENO] [nvarchar](100) NULL,
	[productold] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
