USE [Others]
GO
/****** Object:  StoredProcedure [dbo].[Others_IMP_SEZ_FULL]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[Others_IMP_SEZ_FULL]
@mon as int,
@mon1 as int
AS
BEGIN
truncate table [IMP_OTHERS_SEZ_FULL]
INSERT INTO [dbo].[IMP_OTHERS_SEZ_FULL]
           ([CUSTOM]
           ,[Bill of entry No]
           ,[Date]
           ,[Item Code]
           ,[Item Description]
           ,[Item No]
           ,[Type]
           ,[IEC]
           ,[Importer Name]
           ,[Supplier Name]
           ,[Supplier Address]
           ,[Supplier Country]
           ,[Country]
           ,[Country Code]
           ,[Inv No]
           ,[Quantity]
           ,[Unit ]
           ,[Value]
           ,[Duty]
           ,[Shipment Port Code]
           ,[Shipment Port Name]
           ,[Customs Broker Name]
           ,[Unit price]
           ,[Inv Cur]
           ,[Appraising Group]
           ,[Item Brand]
           ,[CIF Value Amount]
           ,[BCD Amount]
           ,[BCD Rate Specific Amount]
           ,[CVD Amount]
           ,[CVD Rate Specific Amount]
           ,[IGST Amount])
     select CUSH
           ,BENO_ORG
           ,[Date]
           ,HS_CODE
           ,[productold]
           ,[Item No]
           ,Typ
           ,[IEC]
           ,IMPORTER
           ,[Foreign Exporter]
           ,[Foreign Address]
           ,[supplier_Country]
           ,FOR_COUNT
		   ,ForCntry_Code
           ,Inv_Srl_No
           ,QTY
           ,UNIT
           ,[Value]
           ,[Actual DUTY]
           ,ShipmentPortCode
           ,ShipmentPort
           ,CHA_NAME
           ,[UnitPrice FC]
           ,Currency
		   ,AG
           ,Item_Brand
           ,CIF_Value
           ,[BCD Amt]
           ,[BCD Rate]
           ,[CVD Amt]
           ,[CVD Rate]
           ,[IGST Amt] from IMPORT_Monthly a where Monthserial*100+Day(Date) between @mon and @mon1 
		   and exists(select * from PORTMST b where [update]='SEZ' and a.cush=b.code )

delete from [IMP_OTHERS_SEZ_FULL]
where ([Item Description] like '%Indian%Navy%' 
or [Item Description] like '%army%' 
or [Item Description] like '%Air_Force%' 
or [Item Description] like '%defence%'
or [Item Description] like '%defense%'
or [Item Description] like '%warship%'
or [Item Description] like '%sub_marin%'
or [Item Description] like '%missile%'
or [Item Code] like '93%'
or IEC in('AMDCG0111E','AMDCG0111E','3116910324','0308050029','0599020768','3116927430','AVDPG4598H'))

select * from [IMP_OTHERS_SEZ_FULL]
where ([Item Description] like '%Indian%Navy%' 
or [Item Description] like '%army%' 
or [Item Description] like '%Air_Force%' 
or [Item Description] like '%defence%'
or [Item Description] like '%defense%'
or [Item Description] like '%warship%'
or [Item Description] like '%sub_marin%'
or [Item Description] like '%missile%'
or [Item Code] like '93%'
or IEC in('AMDCG0111E','AMDCG0111E','3116910324','0308050029','0599020768','3116927430','AVDPG4598H'))

--IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IMP_OTHERS_FULL_1]') AND type in (N'U'))
--DROP TABLE [dbo].IMP_OTHERS_FULL_1

--IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IMP_OTHERS_FULL_2]') AND type in (N'U'))
--DROP TABLE [dbo].IMP_OTHERS_FULL_2

--select * into IMP_OTHERS_FULL_1 from IMP_OTHERS where [CUSTOM] in('INDEL4','INDPC4','INNSA1','INBOM4') and Year([Date])*100+Month([Date])=@mon
--select * into IMP_OTHERS_FULL_2 from IMP_OTHERS where [CUSTOM] not in('INDEL4','INDPC4','INNSA1','INBOM4') and Year([Date])*100+Month([Date])=@mon	

END
GO
