USE [Others]
GO
/****** Object:  Table [dbo].[Exp_Monthly]    Script Date: 23-03-2026 01:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exp_Monthly](
	[DATE] [datetime] NULL,
	[SB_NO] [nvarchar](255) NULL,
	[HS_CODE] [nvarchar](255) NULL,
	[PRODUCT_DESCRIPTION] [nvarchar](255) NULL,
	[QUANTITY] [float] NULL,
	[UNIT] [nvarchar](255) NULL,
	[FOB_VALUE_INR] [float] NULL,
	[UNIT_PRICE_INR] [float] NULL,
	[FOB_VALUE_USD] [float] NULL,
	[FOB_VALUE_FOREIGN_CURRENCY] [float] NULL,
	[UNIT_PRICE_FOREIGN_CURRENCY] [float] NULL,
	[CURRENCY_NAME] [nvarchar](255) NULL,
	[FOB_VALUE_IN_LACS_INR] [float] NULL,
	[IEC] [nvarchar](255) NULL,
	[INDIAN_EXPORTER_NAME] [nvarchar](255) NULL,
	[EXPORTER_ADDRESS] [nvarchar](255) NULL,
	[EXPORTER_CITY] [nvarchar](255) NULL,
	[PIN_CODE] [nvarchar](255) NULL,
	[CHA_CODE] [nvarchar](255) NULL,
	[CHA_NAME] [nvarchar](255) NULL,
	[FOREIGN_IMPORTER_NAME] [nvarchar](255) NULL,
	[IMPORTER_ADDRESS] [nvarchar](255) NULL,
	[IMPORTER_COUNTRY] [nvarchar](255) NULL,
	[FOREIGN_PORT] [nvarchar](255) NULL,
	[FOREIGN_COUNTRY] [nvarchar](255) NULL,
	[INDIAN_PORT] [nvarchar](255) NULL,
	[INVOICE_DATE] [nvarchar](255) NULL,
	[INVOICE_NUMBER] [nvarchar](255) NULL,
	[INVOICE_SERIAL_NUMBER] [nvarchar](255) NULL,
	[ITEM_NO] [nvarchar](255) NULL,
	[DRAWBACK] [float] NULL,
	[CHALLAN_NO] [nvarchar](255) NULL,
	[CURR_QUE] [nvarchar](255) NULL,
	[CHAPTER] [nvarchar](255) NULL,
	[HS_4_DIGIT] [nvarchar](255) NULL,
	[MONTH] [nvarchar](255) NULL,
	[YEAR] [float] NULL,
	[SSMA_TimeStamp] [nvarchar](255) NULL,
	[CUSH] [nvarchar](255) NULL
) ON [PRIMARY]
GO
