USE [Others]
GO
/****** Object:  StoredProcedure [dbo].[Others_EXP_BTD]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Others_EXP_BTD]
@mon as int,
@mon1 as int
AS
BEGIN

truncate table Exp_Monthly
INSERT INTO [dbo].Exp_Monthly
           ([DATE]
           ,[SB_NO]
           ,[HS_CODE]
           ,[PRODUCT_DESCRIPTION]
           ,[QUANTITY]
           ,[UNIT]
           ,[FOB_VALUE_INR]
           ,[UNIT_PRICE_INR]
           ,[FOB_VALUE_USD]
           ,[FOB_VALUE_FOREIGN_CURRENCY]
           ,[UNIT_PRICE_FOREIGN_CURRENCY]
           ,[CURRENCY_NAME]
           ,[FOB_VALUE_IN_LACS_INR]
           ,[IEC]
           ,[INDIAN_EXPORTER_NAME]
           ,[EXPORTER_ADDRESS]
           ,[EXPORTER_CITY]
           ,[PIN_CODE]
           ,[CHA_CODE]
           ,[CHA_NAME]
           ,[FOREIGN_IMPORTER_NAME]
           ,[IMPORTER_ADDRESS]
           ,[IMPORTER_COUNTRY]
           ,[FOREIGN_PORT]
           ,[FOREIGN_COUNTRY]
           ,CUSH
           ,[INVOICE_DATE]
           ,[INVOICE_NUMBER]
           ,[INVOICE_SERIAL_NUMBER]
           ,[ITEM_NO]
           ,[DRAWBACK]
           ,[CHALLAN_NO]
           ,[CURR_QUE]
           ,[CHAPTER]
           ,[HS_4_DIGIT]
           ,[MONTH]
           ,[YEAR]
           ,[SSMA_TimeStamp])
     select SB_Date
           ,[SB_NO_ORG]
           ,Hs_Code
           ,Product
           ,QTY
           ,Unit
           ,[Total SB Value in INR in Lacs]
           ,[Unit Rate      INR]
           ,FOB_USD
           ,[Value IN FC]
           ,[Unit Rate in Foreign Currency - FC not specified, Very Imp : Som]
           ,[Unit Rate Currency]
           ,Round([Total SB Value in INR in Lacs]/100000,3)
           ,[IEC]
           ,[Indian Exporter Name]
           ,isnull([Exporter Add1],'')+' '+isnull([Exporter Add2],'')
           ,[Exporter City]
           ,Pin
           ,Null
           ,[CHA_NAME]
           ,[Foreign Importer Name]
           ,FOR_Add1
           ,[Importer Country]
           ,[Port of Destination]
           ,Country
           ,PORTID
           ,[INVOICE_DATE]
           ,Invoice_no
           ,[Invoice Srl No]
           ,[ITEM_NO]
           ,[DRAW BACK]
           ,[Challan No]
           ,Cur_que
           ,HS2
           ,HS4
           ,[MONTH]
           ,Year(SB_Date)
           ,NULL  from EXPORT_Monthly a where Monthserial*100+Day(SB_Date) between @mon and @mon1 and not exists(select * from PORTMST b where a.PORTID=b.code and b.[Update]='SEZ') and Cur_que1 is null

update Exp_Monthly set [INDIAN_PORT]=b.location from Exp_Monthly a,PORTMST b
where a.CUSH=b.Code and a.[INDIAN_PORT] is null

--select SB_NO
--           ,[monthserial] into #SBN from EXPORT_Monthly where Monthserial = @mon 

--alter table #SBN add Tag nvarchar(10)

--update #SBN set tag='Y' from #SBN a,[SB] b
--where a.SB_NO=b.SBNO and a.Monthserial=b.monthserial

--INSERT INTO [dbo].SB
--           (SBNO
--           ,[monthserial])
--     select SB_NO
--           ,[monthserial] from #SBN where tag is null

--update [SB] set SBNO_new=left(NEWID(),8) where SBNO_new is null

--update Exp_Monthly set sb_no=b.SBNO_new from Exp_Monthly a,SB b
--where a.sb_no=b.sbno

--select * from [exp_monthly] a where exists(select * from SB b where a.SB_NO=b.SBNO) or len(SB_NO)<>8

delete from Exp_Monthly
where ([PRODUCT_DESCRIPTION] like '%Indian%Navy%' 
or [PRODUCT_DESCRIPTION] like '%army%' 
or [PRODUCT_DESCRIPTION] like '%Air_Force%' 
or [PRODUCT_DESCRIPTION] like '%defence%'
or [PRODUCT_DESCRIPTION] like '%defense%'
or [PRODUCT_DESCRIPTION] like '%warship%'
or [PRODUCT_DESCRIPTION] like '%sub_marin%'
or [PRODUCT_DESCRIPTION] like '%missile%'
or [HS_CODE] like '93%'
or IEC in('AMDCG0111E','AMDCG0111E','3116910324','0308050029','0599020768','3116927430','AVDPG4598H'))

--delete from Exp_Monthly where IEC in('AVDPG4598H') and day([DATE]) between 19 and 30

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Exp_Monthly_1]') AND type in (N'U'))
DROP TABLE [dbo].[Exp_Monthly_1]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Exp_Monthly_2]') AND type in (N'U'))
DROP TABLE [dbo].[Exp_Monthly_2]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Exp_Monthly_3]') AND type in (N'U'))
DROP TABLE [dbo].[Exp_Monthly_3]

select * into [Exp_Monthly_1] from Exp_Monthly where [CUSH] in('INNSA1') and Year([DATE])*10000+Month([DATE])*100+Day([DATE]) between @mon and @mon1
select * into [Exp_Monthly_2] from Exp_Monthly where [CUSH] not in('INNSA1') and Year([DATE])*10000+Month([DATE])*100+Day([DATE]) between @mon and @mon1

--select * into [Exp_Monthly_1] from Exp_Monthly where CUSH in('INDEL4','INNSA1','INMUN1','INILP6') and Year([DATE])*100+Month([DATE])=@mon
--select * into [Exp_Monthly_2] from Exp_Monthly where CUSH in('INBLR4','INMAA1','INBOM4','INMAA4','INDPC4') and Year([DATE])*100+Month([DATE])=@mon
--select * into [Exp_Monthly_3] from Exp_Monthly where CUSH not in('INDEL4','INNSA1','INMUN1','INILP6','INBLR4','INMAA1','INBOM4','INMAA4','INDPC4') and Year([DATE])*100+Month([DATE])=@mon





END
GO
