USE [Others]
GO
/****** Object:  StoredProcedure [dbo].[Others_IMP_SEZ]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Others_IMP_SEZ]
@mon as int
AS
BEGIN
truncate table [IMP_OTHERS_SEZ]
INSERT INTO [dbo].[IMP_OTHERS_SEZ]
           ([CUSTOM]
           ,[Bill of entry No]
           ,[Date]
           ,[Item Code]
           ,[Item Description]
           ,[Item No]
           ,[Type]
           ,[IEC]
           ,[Importer Name]
           ,[Supplier Name]
           ,[Supplier Address]
           ,[Supplier Country]
           ,[Country]
           ,[Inv No]
           ,[Quantity]
           ,[Unit ]
           ,[Value]
           ,[Duty]
           ,[Shipment Port Code]
           ,[Shipment Port Name]
           ,[Customs Broker Name]
           ,[Unit price]
           ,[Inv Cur])
     select CUSH
           ,BENO_ORG
           ,[Date]
           ,HS_CODE
           ,[productold]
           ,[Item No]
           ,Typ
           ,[IEC]
           ,IMPORTER
           ,[Foreign Exporter]
           ,[Foreign Address]
           ,[supplier_Country]
           ,Country
           ,Inv_Srl_No
           ,QTY
           ,UNIT
           ,[Value]
           ,[Actual DUTY]
           ,ShipmentPortCode
           ,ShipmentPort
           ,CHA_NAME
           ,[UnitPrice FC]
           ,Currency from RAW_PROCESS..IMPORT_Monthly where Monthserial=@mon and CUSH in(select code from RAW_PROCESS..PORTMST where [update]='SEZ' )
		   group by
		   CUSH
           ,BENO_ORG
           ,[Date]
           ,HS_CODE
           ,[productold]
           ,[Item No]
           ,Typ
           ,[IEC]
           ,IMPORTER
           ,[Foreign Exporter]
           ,[Foreign Address]
           ,[supplier_Country]
           ,Country
           ,Inv_Srl_No
           ,QTY
           ,UNIT
           ,[Value]
           ,[Actual DUTY]
           ,ShipmentPortCode
           ,ShipmentPort
           ,CHA_NAME
           ,[UnitPrice FC]
           ,Currency

		   delete from [IMP_OTHERS_SEZ]
where ([Item Description] like '%Indian%Navy%' 
or [Item Description] like '%army%' 
or [Item Description] like '%Air_Force%' 
or [Item Description] like '%defence%'
or [Item Description] like '%defense%'
or [Item Description] like '%warship%'
or [Item Description] like '%sub_marin%'
or [Item Description] like '%missile%'
or [Item Code] like '93%'
or IEC in('AMDCG0111E','AMDCG0111E','3116910324','0308050029','0599020768','3116927430','AVDPG4598H'))

END
GO
