USE [Others]
GO
/****** Object:  StoredProcedure [dbo].[Others_IMP_new]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Others_IMP_new]
@mon as int,
@mon1 as int
AS
BEGIN
truncate table [new_imp]
INSERT INTO [dbo].[new_imp]
           ([CUSH]
           ,[BE_NO]
           ,[BE_Date]
           ,[BE_Type]
           ,[IEC]
           ,[Importer_Name]
           ,[Importer_Address]
           ,[importer_City_State]
           ,[importer_pin]
           ,[Country_of_Origin]
           ,[Item_Description]
           ,[INVOICE_CURRENCY]
           ,[Invoice_Unit_Price_FC]
           ,[CTH_HSCODE]
           ,[Quantity]
           ,[UQC]
           ,[Unit_Price]
           ,[TOTAL_ASS_VALUE]
           ,[Total_Duty_Paid]
           ,[CHA_Name]
           ,[Shipment_Port_Code]
           ,[Shipment_Port_Name]
           ,[Supplier_Name]
           ,[Supplier_Address]
           ,[Supplier_Country]
           ,[InvNo]
           ,[ItemNo])
     select [CUSH]
           ,[BENO_ORG]
           ,[Date]
           ,typ
           ,[IEC]
           ,[Importer]
           ,isnull([Address1],'')+' '+isnull([Address2],'')
           ,City
           ,[pin]
           ,COO
           ,[productold]
           ,currency
           ,[UnitPrice FC]
           ,[HS_CODE]
           ,qty
           ,unit
           ,[UNIT RATE(IND RS)]
           ,[VALUE]
           ,[Actual DUTY]
           ,[CHA_Name]
           ,[ShipmentPortCode]
           ,[ShipmentPort]
           ,[Foreign Exporter]
           ,[Foreign Address]
           ,[supplier_Country]
           ,Inv_Srl_No
           ,[Item No] from IMPORT_Monthly a where Monthserial*100+Day(Date) between @mon and @mon1 and not exists(select * from PORTMST b where a.CUSH=b.Code and b.[update]='SEZ') and TagTypAG is null

update new_imp set [location]=b.location from new_imp a,PORTMST b
where a.CUSH=b.Code and a.location is null

delete from [new_imp]
where ([Item_Description] like '%Indian%Navy%' 
or [Item_Description] like '%army%' 
or [Item_Description] like '%Air_Force%' 
or [Item_Description] like '%defence%'
or [Item_Description] like '%defense%'
or [Item_Description] like '%warship%'
or [Item_Description] like '%sub_marin%'
or [Item_Description] like '%missile%'
or [CTH_HSCODE] like '93%'
or IEC in('AMDCG0111E','AMDCG0111E','3116910324','0308050029','0599020768','3116927430','AVDPG4598H'))


--IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[new_imp_1]') AND type in (N'U'))
--DROP TABLE [dbo].[new_imp_1]

--IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[new_imp_2]') AND type in (N'U'))
--DROP TABLE [dbo].[new_imp_2]

--IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[new_imp_3]') AND type in (N'U'))
--DROP TABLE [dbo].[new_imp_3]

--select * into new_imp_1 from new_imp where CUSH in('INBLR4','INDEL4') and Year(BE_Date)*100+Month(BE_Date)=@mon
--select * into new_imp_2 from new_imp where CUSH in('INMAA1','INBOM4','INNSA1') and Year(BE_Date)*100+Month(BE_Date)=@mon
--select * into new_imp_3 from new_imp where CUSH not in('INBLR4','INDEL4','INMAA1','INBOM4','INNSA1') and Year(BE_Date)*100+Month(BE_Date)=@mon



END
GO
