USE [Others]
GO
/****** Object:  Table [dbo].[Export_Monthly]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Export_Monthly](
	[SB_NO_ORG] [nvarchar](255) NULL,
	[SB_Date] [datetime] NULL,
	[Hs_Code] [nvarchar](255) NULL,
	[Product] [nvarchar](700) NULL,
	[QTY] [float] NULL,
	[Unit] [nvarchar](255) NULL,
	[FOBValue INR] [float] NULL,
	[Unit Rate      INR] [float] NULL,
	[Unit Rate in Foreign Currency - FC not specified, Very Imp : Som] [float] NULL,
	[Unit Rate Currency] [nvarchar](255) NULL,
	[Total SB Value in INR in Lacs] [float] NULL,
	[Value IN FC] [float] NULL,
	[Port of Destination] [nvarchar](255) NULL,
	[Ctry of Destination] [nvarchar](255) NULL,
	[Port of Origin] [nvarchar](255) NULL,
	[Indian Exporter Name] [nvarchar](255) NULL,
	[Exporter Add1] [nvarchar](255) NULL,
	[Exporter Add2] [nvarchar](255) NULL,
	[Exporter City] [nvarchar](255) NULL,
	[Foreign Importer Name] [nvarchar](255) NULL,
	[FOR_Add1] [nvarchar](700) NULL,
	[FOR_Add2] [nvarchar](255) NULL,
	[FOR_Add3] [nvarchar](255) NULL,
	[FOR_Add4] [nvarchar](200) NULL,
	[Importer Country] [nvarchar](600) NULL,
	[Month] [nvarchar](255) NULL,
	[HS2] [nvarchar](255) NULL,
	[HS4] [nvarchar](255) NULL,
	[Cur_que1] [nvarchar](255) NULL,
	[Cur_que] [nvarchar](255) NULL,
	[Invoice_no] [nvarchar](255) NULL,
	[Item_no] [nvarchar](255) NULL,
	[IEC] [nvarchar](50) NULL,
	[ProductOLD] [nvarchar](600) NULL,
	[Tag] [nvarchar](255) NULL,
	[Invoice Srl No] [nvarchar](255) NULL,
	[Challan No] [nvarchar](255) NULL,
	[DRAW BACK] [float] NULL,
	[RAW_PORT] [nvarchar](255) NULL,
	[PORTID] [nvarchar](255) NULL,
	[Monthserial] [int] NULL,
	[Invoice_Date] [varchar](50) NULL,
	[CHA_NO] [nvarchar](50) NULL,
	[CHA_NAME] [nvarchar](200) NULL,
	[For_Port_Code] [nvarchar](150) NULL,
	[LEO_Date] [datetime] NULL,
	[PAN] [nvarchar](100) NULL,
	[CountryCode] [nvarchar](50) NULL,
	[Drawback_Excise] [float] NULL,
	[Drawback_Customs] [float] NULL,
	[GRWT_ORG] [float] NULL,
	[GWT_UNIT] [nvarchar](50) NULL,
	[TOI] [nvarchar](50) NULL,
	[FR_VAL] [float] NULL,
	[INS_VAL] [float] NULL,
	[EDTR_CURR_INV] [nvarchar](50) NULL,
	[EDTR_INV_VAL] [float] NULL,
	[EDTR_EX] [float] NULL,
	[EDTR_UPR] [float] NULL,
	[IsDuplicate] [nvarchar](20) NULL,
	[Ship_Mode] [nvarchar](20) NULL,
	[FOB_USD] [float] NULL,
	[Unit_Rate_USD] [float] NULL,
	[USD_Rate] [float] NULL,
	[Pin] [nvarchar](50) NULL,
	[std_qty] [float] NULL,
	[std_unit] [varchar](5) NULL,
	[std_unit_rate_inr] [float] NULL,
	[std_unit_rate_usd] [float] NULL,
	[Country] [nvarchar](200) NULL,
	[State] [nvarchar](200) NULL,
	[Item_Code] [nvarchar](20) NULL,
	[Number_of_Units] [float] NULL,
	[FOB_FC] [float] NULL,
	[IGST_Taxable_Amount] [float] NULL,
	[IGST_Amount_Paid] [float] NULL,
	[Unit_rate_FC] [float] NULL,
	[CURR_INS] [nvarchar](255) NULL,
	[CURR_FR] [nvarchar](255) NULL,
	[SB_NO] [nvarchar](100) NULL
) ON [PRIMARY]
GO
