USE [Others]
GO
/****** Object:  Table [dbo].[new_imp_v]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[new_imp_v](
	[location] [nvarchar](255) NULL,
	[CUSH] [nvarchar](255) NULL,
	[BE_NO] [nvarchar](255) NULL,
	[BE_Date] [date] NULL,
	[BE_Type] [nvarchar](255) NULL,
	[IEC] [nvarchar](255) NULL,
	[Importer_Name] [nvarchar](255) NULL,
	[Importer_Address] [nvarchar](255) NULL,
	[importer_City_State] [nvarchar](255) NULL,
	[importer_pin] [nvarchar](255) NULL,
	[Country_of_Origin] [nvarchar](255) NULL,
	[Item_Description] [nvarchar](255) NULL,
	[INVOICE_CURRENCY] [nvarchar](255) NULL,
	[Invoice_Unit_Price_FC] [float] NULL,
	[CTH_HSCODE] [nvarchar](255) NULL,
	[Quantity] [float] NULL,
	[UQC] [nvarchar](255) NULL,
	[Unit_Price] [float] NULL,
	[TOTAL_ASS_VALUE] [float] NULL,
	[Total_Duty_Paid] [float] NULL,
	[CHA_Name] [nvarchar](255) NULL,
	[Shipment_Port_Code] [nvarchar](255) NULL,
	[Shipment_Port_Name] [nvarchar](255) NULL,
	[Supplier_Name_Address] [nvarchar](1000) NULL,
	[InvNo] [nvarchar](255) NULL,
	[ItemNo] [nvarchar](255) NULL
) ON [PRIMARY]
GO
