USE [Others]
GO
/****** Object:  StoredProcedure [dbo].[Others_EXP_SEZ_FULL]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Others_EXP_SEZ_FULL]
@mon as int,
@mon1 as int
AS
BEGIN

truncate table EXP_OTHERS_SEZ_FULL

 INSERT INTO [dbo].[EXP_OTHERS_SEZ_FULL]
           ([CUSTOM]
           ,[Shipping Bill]
           ,[Shipping Bill Date]
           ,[LEO Date]
           ,[Item Code]
           ,[Item Description]
           ,[Item No]
           ,[IEC]
           ,[Exporter Name]
           ,[Buyer Name]
           ,[Buyer Address]
           ,[Buyer Country]
           ,[Country of Destination]
           ,[Port of Discharge]
           ,[Port Code]
           ,[Invoice SerNo]
           ,[Invoice No]
           ,[Quantity]
           ,[Unit]
           ,[Item rate]
           ,[Currency]
           ,[FOB]
           ,[Drawback]
           ,[State Name]
           ,[Number of Units]
           ,[FOB Foreign Currency]
           ,[IGST Taxable Amount]
           ,[IGST Amount Paid]
           ,[Customs Broker Name])
     select PORTID
           ,SB_NO_ORG
           ,SB_Date
           ,LEO_Date
           ,Hs_Code
           ,Product
           ,[Item_No]
           ,[IEC]
           ,[Indian Exporter Name]
           ,[Foreign Importer Name]
           ,isnull(FOR_Add1,'')
           ,[Importer Country]
           ,[Ctry of Destination]
           ,[Port of Destination]
		   ,For_Port_Code
           ,[Invoice Srl No]
           ,[INVOICE_NO]
           ,QTY
           ,Unit
           ,[Unit Rate in Foreign Currency - FC not specified, Very Imp : Som]
           ,[Unit Rate Currency]
           ,[Total SB Value in INR in Lacs]
           ,[DRAW BACK]
           ,[State]
           ,[Number_of_Units]
           ,[FOB_FC]
           ,[IGST_Taxable_Amount]
           ,[IGST_Amount_Paid]
           ,[CHA_NAME] from EXPORT_Monthly a where Monthserial*100+Day(SB_Date) between @mon and @mon1 
		   and exists(select * from PORTMST b where [update]='SEZ' and a.PORTID=b.code )

delete from [EXP_OTHERS_SEZ_FULL]
where ([Item Description] like '%Indian%Navy%' 
or [Item Description] like '%army%' 
or [Item Description] like '%Air_Force%' 
or [Item Description] like '%defence%'
or [Item Description] like '%defense%'
or [Item Description] like '%warship%'
or [Item Description] like '%sub_marin%'
or [Item Description] like '%missile%'
or [Item Code] like '93%'
or IEC in('AMDCG0111E','AMDCG0111E','3116910324','0308050029','0599020768','3116927430','AVDPG4598H'))

select * from [EXP_OTHERS_SEZ_FULL]
where ([Item Description] like '%Indian%Navy%' 
or [Item Description] like '%army%' 
or [Item Description] like '%Air_Force%' 
or [Item Description] like '%defence%'
or [Item Description] like '%defense%'
or [Item Description] like '%warship%'
or [Item Description] like '%sub_marin%'
or [Item Description] like '%missile%'
or [Item Code] like '93%'
or IEC in('AMDCG0111E','AMDCG0111E','3116910324','0308050029','0599020768','3116927430','AVDPG4598H'))


--IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXP_OTHERS_FULL_1]') AND type in (N'U'))
--DROP TABLE [dbo].[EXP_OTHERS_FULL_1]

--IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXP_OTHERS_FULL_2]') AND type in (N'U'))
--DROP TABLE [dbo].[EXP_OTHERS_FULL_2]


--select * into [EXP_OTHERS_FULL_1] from EXP_OTHERS where [CUSTOM] In ('INDEL4','INDPC4','INNSA1','INBOM4') and Year([Shipping Bill Date])*100+Month([Shipping Bill Date])=@mon
--select * into [EXP_OTHERS_FULL_2] from EXP_OTHERS where [CUSTOM] not In ('INDEL4','INDPC4','INNSA1','INBOM4') and Year([Shipping Bill Date])*100+Month([Shipping Bill Date])=@mon

END
GO
