USE [Others]
GO
/****** Object:  Table [dbo].[Imp_Monthly]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imp_Monthly](
	[DATE] [datetime] NULL,
	[BE_NO] [nvarchar](255) NULL,
	[BE_DATE] [datetime] NULL,
	[TYPE] [nvarchar](255) NULL,
	[IEC] [nvarchar](255) NULL,
	[INDIAN_IMPORTER_NAME] [nvarchar](255) NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[CITY] [nvarchar](255) NULL,
	[PIN_CODE] [nvarchar](255) NULL,
	[CHA_CODE] [nvarchar](255) NULL,
	[CHA_NAME] [nvarchar](255) NULL,
	[SUPPLIER_NAME] [nvarchar](255) NULL,
	[SUPPLIER_ADDRESS] [nvarchar](255) NULL,
	[SUPPLIER_COUNTRY] [nvarchar](255) NULL,
	[INDIAN_PORT] [nvarchar](255) NULL,
	[FOREIGN_COUNTRY] [nvarchar](255) NULL,
	[PORT_OF_LOADING] [nvarchar](255) NULL,
	[HS_CODE] [nvarchar](255) NULL,
	[PRODUCT_DESCRIPTION] [nvarchar](255) NULL,
	[QUANTITY] [float] NULL,
	[UNIT] [nvarchar](255) NULL,
	[INVOICE_UNIT_PRICE_FOREIGN_CURRENCY_ACTUAL] [float] NULL,
	[INVOICE_CURRENCY] [nvarchar](255) NULL,
	[UNIT_VALUE_INR] [float] NULL,
	[UNIT_VALUE_USD_CALCULATED_BY_EXCHANGE_RATE] [float] NULL,
	[TOTAL_VALUE_INR] [float] NULL,
	[TOTAL_VALUE_USD] [float] NULL,
	[IMPORT_DUTY_INR] [float] NULL,
	[IMPORT_DUTY_USD] [float] NULL,
	[INVOICE_DATE] [nvarchar](255) NULL,
	[INVOICE_NO] [nvarchar](255) NULL,
	[INVOICE_SERIAL_NUMBER] [nvarchar](255) NULL,
	[INVOICE_VALUE] [nvarchar](255) NULL,
	[ITEM_NO] [nvarchar](255) NULL,
	[CHAPTER] [nvarchar](255) NULL,
	[HS_4_DIGIT] [nvarchar](255) NULL,
	[MONTH] [nvarchar](255) NULL,
	[YEAR] [float] NULL,
	[SSMA_TimeStamp] [nvarchar](255) NULL,
	[CUSH] [nvarchar](255) NULL
) ON [PRIMARY]
GO
