USE [Others]
GO
/****** Object:  StoredProcedure [dbo].[Others_EXP_new]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Others_EXP_new]
@mon as int,
@mon1 as int
AS
BEGIN

truncate table [exp_new]
INSERT INTO [dbo].[exp_new]
           ([CUSH]
           ,[SBNO]
           ,[SBDT]
           ,[IEC]
           ,[EXPORTER]
           ,[Exporter_Address]
           ,[Exporter_City_State]
           ,[Exporter_PIN]
           ,[PORT_CD]
           ,[Country]
           ,[INVOICE_NO]
           ,[RITC]
           ,[ITEM]
           ,[QUANTITY]
           ,[UQC]
           ,[ITEM_RATE]
           ,[Currency]
           ,[FOB]
           ,[CHA_Name]
           ,[CONSIGNEE]
           ,[CONSIGNEE_Add_1]
           ,[CONSIGNEE_Add_2]
           ,[CONSIGNEE_Country]
           ,[LEO_Date]
           ,[Invoice_Sr_NO]
           ,[Item_No]
           ,[Drawback])
     select PORTID
           ,SB_NO_ORG
           ,SB_Date
           ,[IEC]
           ,[Indian Exporter Name]
           ,isnull([Exporter Add1],'')+' '+isnull([Exporter Add2],'')
           ,[Exporter City]
           ,Pin
           ,[Port of Destination]
           ,Country
           ,[INVOICE_NO]
           ,Hs_Code
           ,Product
           ,QTY
           ,Unit
           ,[Unit Rate in Foreign Currency - FC not specified, Very Imp : Som]
           ,[Unit Rate Currency]
           ,[Total SB Value in INR in Lacs]
           ,[CHA_Name]
           ,[Foreign Importer Name]
           ,FOR_Add1
           ,Null
           ,[Importer Country]
           ,[LEO_Date]
           ,[Invoice Srl No]
           ,[Item_No]
           ,[DRAW BACK] from EXPORT_Monthly a where Monthserial*100+Day(SB_Date) between @mon and @mon1 and not exists(select * from PORTMST b where a.PORTID=b.code and b.[Update]='SEZ') and Cur_que1 is null

update exp_new set [location]=b.location from exp_new a,PORTMST b
where a.CUSH=b.Code and a.location is null

delete from exp_new
where ([ITEM] like '%Indian%Navy%' 
or [ITEM] like '%army%' 
or [ITEM] like '%Air_Force%' 
or [ITEM] like '%defence%'
or [ITEM] like '%defense%'
or [ITEM] like '%warship%'
or [ITEM] like '%sub_marin%'
or [ITEM] like '%missile%'
or [RITC] like '93%'
or IEC in('AMDCG0111E','AMDCG0111E','3116910324','0308050029','0599020768','3116927430','AVDPG4598H'))


--IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[exp_new_1]') AND type in (N'U'))
--DROP TABLE [dbo].[exp_new_1]

--IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[exp_new_2]') AND type in (N'U'))
--DROP TABLE [dbo].[exp_new_2]

--IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[exp_new_3]') AND type in (N'U'))
--DROP TABLE [dbo].[exp_new_3]

----select * into [exp_new_1] from exp_new where [CUSH] in('INNSA1','INDPC4','INDEL4','INBOM4','INMAA1','INMUN1') and Year([SBDT])*100+Month([SBDT])=@mon
----select * into [exp_new_2] from exp_new where [CUSH] not in('INNSA1','INDPC4','INDEL4','INBOM4','INMAA1','INMUN1') and Year([SBDT])*100+Month([SBDT])=@mon

--select * into [exp_new_1] from exp_new where CUSH in('INDEL4','INNSA1','INMUN1','INILP6') and Year([SBDT])*100+Month([SBDT])=@mon
--select * into [exp_new_2] from exp_new where CUSH in('INBLR4','INMAA1','INBOM4','INMAA4','INDPC4') and Year([SBDT])*100+Month([SBDT])=@mon
--select * into [exp_new_3] from exp_new where CUSH not in('INDEL4','INNSA1','INMUN1','INILP6','INBLR4','INMAA1','INBOM4','INMAA4','INDPC4') and Year([SBDT])*100+Month([SBDT])=@mon


END
GO
