USE [Others]
GO
/****** Object:  StoredProcedure [dbo].[Others_IMP_BTD]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Others_IMP_BTD]
@mon as int,
@mon1 as int
AS
BEGIN
truncate table [Imp_Monthly]
INSERT INTO [dbo].[Imp_Monthly]
           ([DATE]
           ,[BE_NO]
           ,[BE_DATE]
           ,[TYPE]
           ,[IEC]
           ,[INDIAN_IMPORTER_NAME]
           ,[ADDRESS]
           ,[CITY]
           ,[PIN_CODE]
           ,[CHA_CODE]
           ,[CHA_NAME]
           ,[SUPPLIER_NAME]
           ,[SUPPLIER_ADDRESS]
           ,[SUPPLIER_COUNTRY]
           ,[INDIAN_PORT]
           ,[FOREIGN_COUNTRY]
           ,[PORT_OF_LOADING]
           ,[HS_CODE]
           ,[PRODUCT_DESCRIPTION]
           ,[QUANTITY]
           ,[UNIT]
           ,[INVOICE_UNIT_PRICE_FOREIGN_CURRENCY_ACTUAL]
           ,[INVOICE_CURRENCY]
           ,[UNIT_VALUE_INR]
           ,[UNIT_VALUE_USD_CALCULATED_BY_EXCHANGE_RATE]
           ,[TOTAL_VALUE_INR]
           ,[TOTAL_VALUE_USD]
           ,[IMPORT_DUTY_INR]
           ,[IMPORT_DUTY_USD]
           ,[INVOICE_DATE]
           ,[INVOICE_NO]
           ,[INVOICE_SERIAL_NUMBER]
           ,[INVOICE_VALUE]
           ,[ITEM_NO]
           ,[CHAPTER]
           ,[HS_4_DIGIT]
           ,[MONTH]
           ,[YEAR]
           ,[SSMA_TimeStamp]
		   ,CUSH)
     select [DATE]
           ,[BENO_ORG]
           ,[DATE]
           ,Typ
           ,[IEC]
           ,IMPORTER
           ,isnull([Address1],'')+' '+isnull([Address2],'')
           ,[CITY]
           ,[PIN]
           ,NULL
           ,[CHA_NAME]
           ,[Foreign Exporter]
           ,[Foreign Address]
           ,[SUPPLIER_COUNTRY]
           ,NULL
           ,COO
           ,FOR_PORT
           ,[HS_CODE]
           ,[productold]
           ,QTY
           ,[UNIT]
           ,[UnitPrice FC]
           ,Currency
           ,[UNIT RATE(IND RS)]
           ,[UNIT RATE(USD)]
           ,VALUE
           ,[VALUE(US$)]
           ,[Actual DUTY]
           ,Round([Actual DUTY]/USD_RATE,2)
           ,Inv_Date
           ,Inv_Srl_No
           ,Null
           ,NULL
           ,[Item No]
           ,left(HS_CODE,2)
           ,left(HS_CODE,4)
           ,DATENAME(month, date)
           ,Year(date)
           ,NULL
		   ,CUSH from IMPORT_Monthly a where Monthserial*100+Day(Date) between @mon and @mon1  and not exists(select * from PORTMST b where a.CUSH=b.Code and b.[update]='SEZ') and TagTypAG is null

update Imp_Monthly set INDIAN_PORT=b.location from Imp_Monthly a,PORTMST b
where a.CUSH=b.Code and a.INDIAN_PORT is null

--select [BENO]
--           ,[monthserial] into #BEN from IMPORT_Monthly where Monthserial*100+Day(Date) = @mon

--alter table #BEN add Tag nvarchar(10)

--update #BEN set tag='Y' from #BEN a,[BE] b
--where a.BENO=b.BE_NO and a.Monthserial=b.monthserial

--INSERT INTO [dbo].[BE]
--           ([BE_NO]
--           ,[monthserial])
--     select [BENO]
--           ,[monthserial] from #BEN where tag is null

--update [BE] set BENO_new=left(NEWID(),8) where BENO_new is null

--update [imp_monthly] set BE_NO=b.BENO_new from [imp_monthly] a,BE b
--where a.BE_NO=b.BE_NO 

--select * from [imp_monthly] a where exists(select * from BE b where a.BE_NO=b.BE_NO) or len(BE_NO)<>8

delete from [Imp_Monthly]
where ([PRODUCT_DESCRIPTION] like '%Indian%Navy%' 
or [PRODUCT_DESCRIPTION] like '%army%' 
or [PRODUCT_DESCRIPTION] like '%Air_Force%' 
or [PRODUCT_DESCRIPTION] like '%defence%'
or [PRODUCT_DESCRIPTION] like '%defense%'
or [PRODUCT_DESCRIPTION] like '%warship%'
or [PRODUCT_DESCRIPTION] like '%sub_marin%'
or [PRODUCT_DESCRIPTION] like '%missile%'
or [HS_CODE] like '93%'
or IEC in('AMDCG0111E','AMDCG0111E','3116910324','0308050029','0599020768','3116927430','AVDPG4598H'))

--delete from Imp_Monthly where IEC in('AVDPG4598H') and day(BE_Date) between 19 and 30

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Imp_Monthly_1]') AND type in (N'U'))
DROP TABLE [dbo].[Imp_Monthly_1]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Imp_Monthly_2]') AND type in (N'U'))
DROP TABLE [dbo].[Imp_Monthly_2]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Imp_Monthly_3]') AND type in (N'U'))
DROP TABLE [dbo].[Imp_Monthly_3]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Imp_Monthly_4]') AND type in (N'U'))
DROP TABLE [dbo].[Imp_Monthly_4]

select * into Imp_Monthly_1 from Imp_Monthly where CUSH in('INDEL4') and Year([BE_DATE])*10000+Month([BE_DATE])*100+Day([DATE]) between @mon and @mon1 
select * into Imp_Monthly_2 from Imp_Monthly where CUSH not in('INDEL4') and Year([BE_DATE])*10000+Month([BE_DATE])*100+Day([DATE]) between @mon and @mon1 

--select * into Imp_Monthly_1 from Imp_Monthly where CUSH in('INDEL4') and Year(BE_Date)*100+Month(BE_Date)=@mon 
--select * into Imp_Monthly_2 from Imp_Monthly where CUSH in('INMAA1','INBOM4') and Year(BE_Date)*100+Month(BE_Date)=@mon
--select * into Imp_Monthly_4 from Imp_Monthly where CUSH in('INBLR4','INNSA1') and Year(BE_Date)*100+Month(BE_Date)=@mon
--select * into Imp_Monthly_3 from Imp_Monthly where CUSH not in('INBLR4','INDEL4','INMAA1','INBOM4','INNSA1') and Year(BE_Date)*100+Month(BE_Date)=@mon


--select distinct BE_NO into #BE from [dbo].imp_monthly

--alter table #BE add BENO_new nvarchar(10)

--update #BE set BENO_new=left(NEWID(),8)

--update [imp_monthly_1] set BE_NO=b.BENO_new from [imp_monthly_1] a,#BE b
--where a.BE_NO=b.BE_NO 

--update [imp_monthly_2] set BE_NO=b.BENO_new from [imp_monthly_2] a,#BE b
--where a.BE_NO=b.BE_NO 

--update [imp_monthly_3] set BE_NO=b.BENO_new from [imp_monthly_3] a,#BE b
--where a.BE_NO=b.BE_NO 

--update [imp_monthly_4] set BE_NO=b.BENO_new from [imp_monthly_4] a,#BE b
--where a.BE_NO=b.BE_NO 

--select * from [imp_monthly_1] a where exists(select * from #BE b where a.BE_NO=b.BE_NO)
--select * from [imp_monthly_2] a where exists(select * from #BE b where a.BE_NO=b.BE_NO)
--select * from [imp_monthly_3] a where exists(select * from #BE b where a.BE_NO=b.BE_NO)
--select * from [imp_monthly_4] a where exists(select * from #BE b where a.BE_NO=b.BE_NO)


END

GO
