USE [Others]
GO
/****** Object:  Table [dbo].[IMP_OTHERS_SEZ]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMP_OTHERS_SEZ](
	[CUSTOM] [nvarchar](255) NULL,
	[Bill of entry No] [nvarchar](255) NULL,
	[Date] [datetime] NULL,
	[Item Code] [nvarchar](255) NULL,
	[Item Description] [nvarchar](255) NULL,
	[Item No] [nvarchar](255) NULL,
	[Type] [nvarchar](255) NULL,
	[IEC] [nvarchar](255) NULL,
	[Importer Name] [nvarchar](255) NULL,
	[Supplier Name] [nvarchar](255) NULL,
	[Supplier Address] [nvarchar](255) NULL,
	[Supplier Country] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[Inv No] [nvarchar](255) NULL,
	[Quantity] [float] NULL,
	[Unit ] [nvarchar](255) NULL,
	[Value] [float] NULL,
	[Duty] [float] NULL,
	[Shipment Port Code] [nvarchar](255) NULL,
	[Shipment Port Name] [nvarchar](255) NULL,
	[Customs Broker Name] [nvarchar](255) NULL,
	[Unit price] [float] NULL,
	[Inv Cur] [nvarchar](255) NULL
) ON [PRIMARY]
GO
