USE [Others]
GO
/****** Object:  StoredProcedure [dbo].[Others_EXP_Vishal]    Script Date: 23-03-2026 01:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Others_EXP_Vishal]
@mon as int
AS
BEGIN

truncate table [exp_new_v]
INSERT INTO [dbo].[exp_new_v]
           ([CUSH]
           ,[SBNO]
           ,[SBDT]
           ,[IEC]
           ,[EXPORTER]
           ,[Exporter_Address]
           ,[Exporter_City_State]
           ,[Exporter_PIN]
           ,[PORT_CD]
           ,[Country]
           ,[INVOICE_NO]
           ,[RITC]
           ,[ITEM]
           ,[QUANTITY]
           ,[UQC]
           ,[ITEM_RATE]
           ,[Currency]
           ,[FOB]
           ,[CHA_Name]
           ,[CONSIGNEE_NAME_ADRRESS]
           ,[LEO_Date]
           ,[Invoice_Sr_NO]
           ,[Item_No]
           ,[Drawback]
		   ,[location])
     select [CUSH]
           ,[SBNO]
           ,[SBDT]
           ,[IEC]
           ,[EXPORTER]
           ,[Exporter_Address]
           ,[Exporter_City_State]
           ,[Exporter_PIN]
           ,[PORT_CD]
           ,[Country]
           ,[INVOICE_NO]
           ,[RITC]
           ,[ITEM]
           ,[QUANTITY]
           ,[UQC]
           ,[ITEM_RATE]
           ,[Currency]
           ,[FOB]
           ,[CHA_Name]
           ,isnull(CONSIGNEE,'')+isnull(CONSIGNEE_Add_1,'')+isnull(CONSIGNEE_Add_2,'')+isnull(CONSIGNEE_Country,'')
           ,[LEO_Date]
           ,[Invoice_Sr_NO]
           ,[Item_No]
           ,[Drawback]
		   ,[location] from exp_new where year([SBDT])*100+Month([SBDT])=@mon

select distinct [SBNO]
           ,year([SBDT])*100+Month([SBDT])'Monthserial' into #SBN from [exp_new_v] where year([SBDT])*100+Month([SBDT])= @mon 

alter table #SBN add Tag nvarchar(10)

update #SBN set tag='Y' from #SBN a,[SB] b
where a.[SBNO]=b.SBNO and a.Monthserial=b.monthserial

INSERT INTO [dbo].SB
           (SBNO
           ,[monthserial])
     select SBNO
           ,[monthserial] from #SBN where tag is null

update [SB] set SBNO_new=left(NEWID(),8) where SBNO_new is null

update [exp_new_v] set SBNO=b.SBNO_new from [exp_new_v] a,SB b
where a.SBNO=b.SBNO

select * from [exp_new_v] a where exists(select * from SB b where a.SBNO=b.SBNO) or len(SBNO)<>8


END

GO
